:root {
    --primary-color: #3d3929;
    --secondary-color: #7d5e35;
    --terciary-color: #9f845d;
    --light_color: #e0d6c4;
    --dark-color: #0b0b08;
    --accent1-color: #5d4532;
    --accent2-color: #8e6c34;
    --accent3-color: #bdbab5;
    --success-color: #49a028;
    --warning-color: #fdbf2f;
    --danger-color: #ed1759;
    --white-color: #ffffff;
}

.background-primary {
    background-color: var(--primary-color) !important;
}

.background-secondary {
    background-color: var(--secondary-color) !important;
}

.primary-set {
    background-color: var(--primary-color) !important;
}

th {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-primary:hover {
    background-color: var(--terciary-color) !important;
    border-color: var(--terciary-color) !important;
}

body {
}